@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>@Html.DisplayFor(model => model.Name)</h2>
<hr />
@if (@Model.JoinEntities.Count == 0)
{
  <p>This machine does not have any engineers licensed to repair it yet.</p>
  <p>@Html.ActionLink("Add an engineer now!", "AddEngineer", new { id = Model.MachineId })</p>
}
else
{
  <h4>Engineers licensed to repair this machine:</h4>
  <ul>
  @foreach (var join in Model.JoinEntities)
    {
      <li>
        @Html.ActionLink($"{join.Engineer.Name}", "Details", "Engineers", new { id = join.Engineer.EngineerId })
        | @using (Html.BeginForm("DeleteEngineer", "Machines"))
        {
          @Html.Hidden("joinId", @join.EngineerMachineId)
          <input type="submit" value="Delete" />
        }
      </li>
    }
  </ul>
  <p>@Html.ActionLink("Add another engineer to this machine", "AddEngineer", new { id = Model.MachineId })</p>
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit machine", "Edit", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Delete machine", "Delete", new { id = Model.MachineId })</p>