@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>Add a machine for @Html.DisplayFor(model => model.Name)</h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("Select Machine")
  @Html.DropDownList("MachineId")

  <input type="submit" value="Add" />
}

<p>@Html.ActionLink("Back to Engineer List", "Index")</p>