@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Engineer

<h2>Engineer Details:</h2>
<hr />
<h4>@Html.DisplayFor(model => model.Name)</h4>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This engineer is not licensed to repair any machines yet</p>
  <p>@Html.ActionLink("Add a machine now!", "AddMachine", new { id = Model.EngineerId })</p>
}
else
{
  <h4>Machines that this engineer is licensed to repair:</h4>
  <ul>
  @foreach (var join in Model.JoinEntities)
    {
      <li>@Html.ActionLink($"{join.Machine.Name}", "Details", "Machines", new { id = join.Machine.MachineId})</li>
    }
  </ul>
  <p>@Html.ActionLink("Add a machine to this engineer", "AddMachine", new { id = Model.EngineerId })</p>
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete engineer", "Delete", new { id = Model.EngineerId })</p>